[Unit]
Description=Birthday Reminders
After=network-online.target postgresql.service
Wants=network-online.target


[Service]
Type=simple
# Run as root, app will drop privileges itself
User=root
Group=root
ExecStart=/opt/birthday-reminders/bin/birthday-reminders --config /opt/birthday-reminders/etc/config.yaml serve
WorkingDirectory=/opt/birthday-reminders
Restart=on-failure
RestartSec=5

# Hardening
NoNewPrivileges=true
ProtectSystem=strict
ProtectHome=true
PrivateTmp=true
PrivateDevices=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
# Allow read access to etc and static, write to data
ReadOnlyPaths=/opt/birthday-reminders/etc /opt/birthday-reminders/static
ReadWritePaths=/opt/birthday-reminders/data

[Install]
WantedBy=multi-user.target
